@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.mainbox {
    display: flex;
    border: 1px solid black;
    height: 100vh;  
  }

.flex {
    display: flex;
    border: 1px solid black;
    
  }

  .justify-between {
    justify-content: space-between;
    
    
  }
  
  .p-4 {
    padding: 4px;
    
  }
  
  .text-xl {
    font-size: 2rem;
    text-align: center;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .gap-4 {
    gap: 4px;
  }
  
  .form-group {
    margin-bottom: 1rem;
    

  }
  
  .form-control {
    width: 100%;
    
  }
  
  .table {
    width: 100%;
    border: 1px solid black;
    overflow: auto;
  }
  
  .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f7f7f7;
    
    
  }
  
  
